body {
    background-color: black;
    color: antiquewhite;
}

/* headers */
header {
    width: 100%;
    background-color: #737373;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

header #indexLogo {
    width: 200px;
}

.header-logos {
    display: flex;
    gap: 15px;
}

/* footer */
footer {
    background-color: #737373;
    color: white;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 10px;
}

.logo {
    width: 50px;
}

.container {
    text-align: center;
}

/* usado en characters */
.containerFilms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    justify-content: center;
    padding: 0 30px 30px 30px;
}

/* contenedor de peliculas y otros */
.filmContainer {
    border: solid 1px aqua;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.2px white;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 5px;
    background-color: #222;
    text-align: left;
    overflow: hidden; /* Limpia el float */
}

.filmContainer label {
    float: left;
    margin-right: 10px;
    font-weight: bold;
}

/* Ajustes para la imagen */
.filmContainer .image {
    width: 30%;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    object-fit: cover;
}

/* Ajustes para el contenido */
.filmContainer .content {
    width: 65%;
    float: left;
}

.filmContainer input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #555;
    color: #FFF;
}

#overview {
    height: 150px;
}

.filmContainer input[type="submit"] {
    width: 100px;
    background-color: #737373;
    color: antiquewhite;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filmContainer input[type="submit"]:hover {
    background-color: antiquewhite;
    color: black;
}

.error {
    font-style: italic;
    color: red;
}

/* usado para subtitles */
.subtitle {
    text-align: center;
    font-size: 25px;
}


/* todos los enlaces */
a {
    text-decoration: none;
    color: goldenrod;
}

a:hover {
    text-decoration: none;
    color: white;
}


/* logo borrar */
.delete {
    float: left;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
}

.filmContainer form {
    text-align: center;
}

/* paginacion */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
}

.pagination-link {
    color: #fff;
    background-color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.pagination-link:hover {
    background-color: #555;
    transform: scale(1.1);
}

.pagination-link.active {
    background-color: aqua;
    color: #333;
    font-weight: bold;
}

.pagination-link.disabled {
    background-color: #555;
    color: #888;
    cursor: not-allowed;
}

.loginContainer {
    max-width: 400px;
    margin: 50px auto; /* Centrar en la pantalla */
    padding: 20px;
    border: solid 1px aqua;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    background-color: #222;
    text-align: center;
}

.loginContainer h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.loginContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContainer label {
    font-weight: bold;
    width: 100%;
    text-align: left;
    margin: 10px 0 5px;
}

.loginContainer input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    font-size: 16px;
}

.loginContainer input:focus {
    outline: none;
    background-color: #666;
}

.loginContainer input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

.loginContainer input[type="submit"] {
    width: 100%;
    background-color: #737373;
    color: antiquewhite;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.loginContainer input[type="submit"]:hover {
    background-color: antiquewhite;
    color: black;
}

.loginContainer a {
    display: block;
    margin-top: 15px;
    font-size: 14px;
}

.userContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userLogo {
    width: 40px;
}

.textLogo {
    font-size: 15px;
    color: black;
    font-weight: bold;
}
